<h1> Sign In </h1>
<%= form_with(url: "/session") do |f|%>
    <%= f.label :email%>
    <div class="mb-3">
    <%= f.email_field :email, autofocus: true%>
    </div>
    <%= f.label :password%>
    <div class="mb-3">
    <%= f.password_field :password%>
    </div>
    <div class="mb-3">
    <%= f.submit "Sign In"%>
    </div>
<%end%>