<h1>Edit <%= @user.name%>'s Profile</h1>
<%= form_with(url: "/users/#{@user.id}") do |f|%>
    <%= f.label :name%>
    <div class="mb-3">
    <%= f.text_field :name, autofocus: true, value: @user.name%>
    </div>
    <%= f.label :phone%>
    <div class="mb-3">
    <%= f.text_field :phone, autofocus: true, value: @user.phone%>
    </div>
    <%= f.label :email%>
    <div class="mb-3">
    <%= f.email_field :email, value: @user.email%>
    </div>
    <%= f.label :password%>
    <div class="mb-3">
    <%= f.password_field :password%>
    </div>
    <div class="mb-3">
    <%= f.submit "Edit Account"%>
    </div>
<%end%>