<img src="<%= @article.imageurl %>" alt="<%= @article.source%>">
<br/>
<h1><%= @article.title %></h1>
<br/>

<p><%= @article.body %></p>



<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  <p>
  Like: <%=comment.like%>
  </p>
  <p>
  Dislike: <%=comment.dislike%>
  </p>
  <%if User.find(session[:user_id]).name == comment.commenter%>
    <a href="/home/delete_comment/<%= @article.id%>/<%= comment.id%>" class="btn btn-secondary">Delete Comment</a>
    <a href="/home/show_comment/<%= @article.id%>/<%= comment.id%>" class="btn btn-secondary">Update Comment</a>
  <%end%>
  <a href="/home/like/<%= @article.id%>/<%= comment.id%>/<%= comment.like%>" class="btn btn-secondary">Like</a>
  <a href="/home/dislike/<%= @article.id%>/<%= comment.id%>/<%= comment.dislike%>" class="btn btn-secondary">Dislike</a>
<% end %>

<br/>


<%= form_with(url: "/home/create_comment/#{@article.id}") do |f|%>
    <%= f.label :comment%>
    <div class="mb-3">
    <%= f.text_area :comment, rows: 5%>
    </div>
    <div class="mb-3">
    <%= f.submit "Submit comment"%>
    </div>
<%end%>


