<h1> Edit <%= @comment[:commenter]%> Comment</h1>

<%= form_with(url: "/home/create_comment/#{@article.id}", local: true) do |f|%>
    <%= f.label :comment%>
    <div class="mb-3">
    <%= f.text_area :comment, rows: 5%>
    </div>
    <div class="mb-3">
    <%= f.submit "Update comment"%>
    </div>
<%end%>
