<h1>Create Alerts</h1>
<%= form_with(url: "/notificationsettings/create") do |f|%>
    <div class="mb-3">
    <%= f.label :like_count,  "Like Count"%>
    <%= f.number_field :like_count, step: 1%>
    </div>
    <div class="mb-3">
    <%= f.check_box :like_count_by_phone%>
    <%= f.label :like_count_by_phone,  "By Phone"%>
    </div>
    <div class="mb-3">
    <%= f.check_box :like_count_by_email%>
    <%= f.label :like_count_by_email,  "By Email"%>
    </div>
    <div class="mb-3">
    <%= f.label :dislike_count,  "Dislike Count"%>
    <%= f.number_field :dislike_count, step: 1%>
    </div>
    <div class="mb-3">
    <%= f.check_box :dislike_count_by_phone%>
    <%= f.label :dislike_count_by_phone,  "By Phone"%>
    </div>
    <div class="mb-3">
    <%= f.check_box :dislike_count_by_email%>
    <%= f.label :dislike_count_by_email,  "By Email"%>
    </div>
    <div class="mb-3">
    <%= f.label :comment_count,  "Comment Count"%>
    <%= f.number_field :comment_count, step: 1%>
    </div>
    <div class="mb-3">
    <%= f.label :comment_duration,  "Comment Within Period of"%>
    <%= f.number_field :comment_duration, step: 1%> Hours
    </div>
    <div class="mb-3">
    <%= f.check_box :comment_count_by_phone%>
    <%= f.label :comment_count_by_phone,  "By Phone"%>
    </div>
    <div class="mb-3">
    <%= f.check_box :comment_count_by_email%>
    <%= f.label :comment_count_by_email,  "By Email"%>
    </div>
    <div class="mb-3">
    <%= f.submit "Create"%>
    </div>
<%end%>